@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');

:root {
    --cLight: #fafafa;
    --cLightPrimary: #dae6b6;
    --cDarkPrimary: #739600;
    --cLightSecondary: #ded3bd;
    --cDarkSecondary: #d1c6b1;
    --cDark: #111;

    --maxMobile: 30rem;
}
body {
    font-family: 'Quicksand', sans-serif;
    font-size: 150%;
    background-color: var(--cLight);
    margin: 0;
    display: flex;
    justify-content: space-around;

    flex-flow: column nowrap;
}
header {
    background-color: var(--cLightPrimary);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
}
header * {
    width: min(100%, 30rem);
    text-align: center;
}
main {
    background-color: var(--cLightPrimary);
    box-sizing: border-box;
    padding: 8rem 0;
    width: 100%;
    overflow: auto;
}
#visits {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
#visits > fieldset:nth-child(even) {
    background-color: var(--cDarkSecondary);
}
.visit {
    border: none;
    display: flex;
    flex-flow: column nowrap;
    box-sizing: border-box;
    outline: transparent;
    width: 95%;

    background-color: var(--cLightSecondary);
}

.visit > label,
.visit > input,
.visit > select {
    width: 100%;
    font-size: 2rem;
    margin: 0.2rem;
}
.visit > label:focus,
.visit > input:focus,
.visit > select:focus {
    border: 2px solid green;
    outline: transparent;
}
#add-visit,
#submit {
    background-color: var(--cDarkPrimary);
    border: none;
    display: block;
    min-height: 5rem;
    width: 100%;
    margin: 0.8rem 0;
    font-size: 150%;

    color: #fff;
}
#add-visit:hover,
#submit:hover {
    color: #000;
    cursor: pointer;
    opacity: 0.8;
}

@media screen and (min-width: 60rem) {
    body {
        flex-flow: row nowrap;
    }
    header {
        height: 100vh;
        width: min(max(45vw, 30rem), 50vw);
    }
    main {
        height: 100vh;
        width: min(max(45vw, 30rem), 50vw);
    }
}
